body {
    background: rgb(234, 218, 197);
    text-align: center;
    color: navy;
    font-style: italic;
    font-family: serif;
    font-size: large;
  }

  h2{
    background-color: cornflowerblue;

  }
  p#intro {
    display: block;
    background-color: cornflowerblue;
    font-style: italic;
    text-align: center;
    list-style: center;
    font-size: medium;
    font-family: serif;
    font-weight: bold;
}
ul{
    display: block;
    font-size: medium;
    list-style: center;
    background-color: cornflowerblue;
    font-family: serif;
    list-style-type: circle;
    list-style-position: inside;
    font-weight: bold;
    
}


